.App {
  text-align: center;
  display:flex;
  flex-direction: row;
}
/*TopNav CSS*/
.TopNav{
  width: 100%;
  display: flex;
  height: 5%;
  background-color: white;
  border: solid;
  margin-bottom: 10px;
}

/*NAVIGATION CSS*/
NavBStyle{
  width: 270px;
  height: 800px;
  background-color: purple;
  margin-right: 10px;
}

nav{
  left: 20px;
  top: 20px;
  width: 270px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgb(73, 79, 82);
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-direction: column;
}

.rightSideStructure{
  display: flex;
  flex-direction: column;
}

/*INFOBOX CSS*/
.InfoBox{
  width: 290px;
  height: 280px;
  display: flex;
  background-color: white;
  border: solid black;
  margin-left: 10px;
}

/*InputProtokoll*/
.InputProtokoll{
  width: 290px;
  height: 430px;
  display: flex;
  background-color: white;
  border: solid black;
  margin-bottom: 10px;
  margin-left: 10px;
}

/*MAINPAGES*/
.MainpageNav{
  position:absolute;
  bottom:10px;
  height:40px;
  width:60%;
  background-color: white;
  border: solid;
}
.Mainpage{
  background-color: white;
  border: solid;
  width: 60%;
}

.Betapage{
  background-color: white;
  border: solid;
  width: 60%;
}

.UploadData{
  background-color: saddlebrown;
  width: 60%;
}
